.parent {
  width: 500px;
  height: 500px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child {
  width: 100px;
  height: 100px;
  background: red;
}


.containerr h1{
  display: inline-block;
  background-color: red;
  font-size: 10px;
  height: 100px;
  width: 100px;
  outline: 10px black solid;
  margin: 20px;
}

.maindiv{
  display: flex;
  flex-wrap: wrap;

}
.mainchild{
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  margin-top: 10px;
  margin-left: 10px;
  
}


.container {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  font-family: sans-serif;
}
/* instead of these we can write in one line */

.container {
  font: italic bold 1rem/1.5 sans-serif;
}

.container {
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 6px;
  margin-left: 8px;
}

/* instead of these we can write in one line */

.container {
  margin: 2px 4px 6px 8px;
}

.container {
  background-color: aliceblue;
  background-image: "";
  background-repeat: no-repeat;
  background-position: right top;
}

.container {
  background: aliceblue url("") no-repeat right top;
}
